HUB_API_KEY=twoj_klucz
VERIFY_URL=https://hub.ag3nts.org/verify

NEGOTIATIONS_TASK_NAME=negotiations
NEGOTIATIONS_CSV_BASE_URL=https://hub.ag3nts.org/dane/s03e04_csv/
NEGOTIATIONS_APP_HOST=0.0.0.0
NEGOTIATIONS_APP_PORT=3000
NEGOTIATIONS_OUTPUT_DIR=output

REQUEST_TIMEOUT_SECONDS=30

OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=openai/gpt-4.1-mini
NEGOTIATIONS_ENABLE_LLM_PARSER=true

