AIDEVS_API_KEY=
AIDEVS_VERIFY_URL=https://hub.ag3nts.org/verify
LESSON4_SIDE_TASK=filesystem
LESSON4_SIDE_TIMEOUT_SECONDS=30
LESSON4_SIDE_OUTPUT_DIR=output
LESSON4_SIDE_MODE=check_flag_ord
# Alternatywnie:
# LESSON4_SIDE_MODE=check_flag_ord_with_main
LESSON4_SIDE_SUBMIT_DONE=false
